[mysqld]
max_connections=100
skip-name-resolve=1
log_error=/var/log/mysql/mysqld.log
slow_query_log=1
long_query_time=60
log_queries_not_using_indexes=1
slow_query_log_file=/var/log/mysql/slow_query.log
relay_log=/var/log/mysql/relay.log
general_log=1
general_log_file=/var/log/mysql/general.log
